<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bardarbunga.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bardarbunga.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Bardarbunga.Properties.Settings>
            <setting name="hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minAlert" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sortOrder" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="lastTime" serializeAs="String">
                <value>09/11/2014 00:26:00</value>
            </setting>
            <setting name="keepOnTop" serializeAs="String">
                <value>True</value>
            </setting>
        </Bardarbunga.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Bardarbunga.Properties.Settings>
            <setting name="currentVersion" serializeAs="String">
                <value>4.2</value>
            </setting>
        </Bardarbunga.Properties.Settings>
    </applicationSettings>
</configuration>